<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title: "Registro", style: "/css/styles-users.css"}) %>
<body>
    
    <!-- Incluci칩n de Header -->
    <%- include ('../partials/header') %>    
           
    <main class="register">
        <section class="conteiner-users">
            <h3>Editar Perfil de Usuario</h3>
            <form class="form-login" action="/users/profile/edit/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                
                <img src="<%= user.userImage %>", alt="Imagen de usuario" />
                <input type="text" name="firstName" value="<%= locals.oldData ? oldData.firstName : user.firstName %>">

                <input type="text" name="lastName" value="<%= locals.oldData ? oldData.lastName : user.lastName %>">

                <input type="text" name="email" value="<%= locals.oldData ? oldData.email : user.email %>">

                <input type="password" name="password" placeholder="Nueva contrase침a">
            
                <input type="password" name="confirmPsw" placeholder="Confirmar contrase침a">

                 <% if (locals.isLogged) { %>
                    <% if(locals.userLogged.userPrivilege == 1) { %>
                        <div class="recuerdame">
                            <input type="checkbox" name="userPrivileges" id="userPrivileges" value="on">
                            <label for="recuerdame">Permisos de administrador</label>
                        </div>
                    <% } %>
                <% } %>    
                <input type="file" name="img">


                <button type="submit" class="enviar">Confirmar</button>
                                
                <button type="reset" class="borrar">Borrar</button>

            </form>
        </section>
    </main>

    <!-- Incluci칩n de Header -->
    <%- include ('../partials/footer') %>   

</body>
</html>